/* ---------- 全局样式 ---------- */
/* reset */
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select{margin:0;padding:0;}
em{font-style:normal}
li{list-style:none}
a{text-decoration:none; color: #000;}
img{border:none; vertical-align:top;}   /* 去边框对齐 */
table{border-collapse:collapse;}      /* 表格合并*/
textarea{ resize:none;overflow:auto;}       /* chrome多行文本变大变小*/
input,textarea{outline:none;}            /* 去除焦点高亮度 */
body{ font-size:12px; font-family:"微软雅黑";}
/* end reset */ 

/* pulic */
.clear{zoom:1;}
.clear:after{content: "";display: block;clear: both; }  /* 请浮动 */   
.fl{float: left;}
.fr{float: right;}
/* end public */
body {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}



a:hover {
  border-bottom: 3px solid #002b36;
}

.button {
  background-color: #4fc08d !important;
  color: #fff !important;
}

.avatar {
  border-radius: 3px;
  width: 48px;
  height: 48px;
  float: right;
}

/* ---------- nav ---------- */

.nav {
  margin-bottom: 20px;
  color: #999;
  text-align: center;
}

.nav h1 {
  color: #002b36;
  display: inline-block;
  margin: 10px 0;
}

/* ---------- nav-setting ---------- */

.nav-setting {
  position: fixed;
  right: 30px;
  top: 35px;
  z-index: 999;
}

.nav-setting .ui.dropdown.button {
  padding: 10px 10px 0 10px;
  background-color: #fff !important;
}

.nav-setting .icon.bars {
  color: #000;
  font-size: 18px;
}

/* ---------- post-content ---------- */

.post-content h3 a {
  color: #002b36 !important;
}

.post-content .tag {
  font-size: 13px;
  margin-right: 5px;
  color: #999;
}

.post-content .tag.right {
  float: right;
  margin-right: 0;
}

.post-content .tag.right a {
  color: #999;
}